In [2]:
import googlemaps
from datetime import datetime
import pandas

In [123]:
gmaps = googlemaps.Client(key='AIzaSyA7xsyKt5J7_uIxbFVuoE6IowN4svqWo0o')

In [105]:
###############################################################################
#input: long, lats as strings
#output: journy time in seconds

def get_travel_time(long1,lat1,long2,lat2):
    address1 = lat1 + ', ' + long1
    address2 = lat2 + ', ' + long2
    
    #print(address1, address2)
    
    now = datetime.now()
    directions_result = gmaps.distance_matrix(address1,
                                     address2,
                                     mode="driving", #walking, transit, driving
                                     departure_time=now)
    
    #print(directions_result['rows'][0]['elements'][0]['status'])
    
    if 'ZERO_RESULTS' not in directions_result['rows'][0]['elements'][0]['status']:
        time_s = directions_result['rows'][0]['elements'][0]['duration']['value']
    else:
        time_s = 1000000000
    
    return time_s

In [45]:
#the inputs are a list of 20 points in the city that we will average over 
inputs = pandas.read_csv('city_points.csv')#[['long','lat']]

In [46]:
inputs.head()

        lat         long
0  47.719730 -122.359261
1  47.725966 -122.288880
2  47.685304 -122.391877
3  47.692699 -122.334199
4  47.691775 -122.277894

In [88]:
#get the average transit distance from a point to a set of points
#inputs: long and lat of starting point, set of all ending points to average over

def get_average_travel_time(long1,lat1,inputs):
    sum_time = 0.0
    count = 0
    
    #find the closest point (straight distance)
    for index, row in inputs.iterrows():
        #print(row[0])
        long2 = str(row['long'])
        lat2 = str(row[0])
        time = float(get_travel_time(long1,lat1,long2,lat2))
        if time < 1000000000.0:
            count = count + 1
            sum_time = sum_time + time
        
    #use the losest point to calculate the shortest walking distance
    walking_time = (sum_time/(count))/60
            
    return walking_time

In [106]:
BG_centroids = pandas.read_csv('BG_centroids.csv')

In [107]:
BG_centroids['time'] = 0

In [124]:
for index, row in BG_centroids.iloc[400:].iterrows():
    long1 = str(row['long'])
    lat1 = str(row['lat'])
    #print(long1,lat1)
    travel_time = get_average_travel_time(long1,lat1,inputs)
    BG_centroids.set_value(index, 'time', travel_time)

In [125]:
BG_centroids.head(480)

           gis_id        long        lat  time
0    530330001001 -122.284690  47.726825    23
1    530330001002 -122.292467  47.729319    22
2    530330001003 -122.289454  47.722812    22
3    530330001004 -122.294451  47.731938    23
4    530330001005 -122.294437  47.722929    21
5    530330002001 -122.298914  47.729089    23
6    530330002002 -122.302830  47.721792    22
7    530330002003 -122.319027  47.727929    23
8    530330002004 -122.310178  47.728661    22
9    530330002005 -122.313912  47.722739    21
10   530330002006 -122.304679  47.729223    23
11   530330003001 -122.328902  47.730067    20
12   530330003002 -122.340428  47.731383    22
13   530330004011 -122.349487  47.730149    25
14   530330004012 -122.358248  47.729594    25
15   530330004013 -122.351872  47.725797    24
16   530330004021 -122.355642  47.722345    22
17   530330004022 -122.347549  47.714871    22
18   530330004023 -122.355564  47.714161    21
19   530330004024 -122.356147  47.718345    22
20   530330005001 -122.369793  47.724367    26
21   530330005002 -122.363651  47.720603    24
22   530330005003 -122.366288  47.715259    24
23   530330006001 -122.336526  47.725124    23
24   530330006002 -122.315262  47.714905    20
25   530330006003 -122.338105  47.718717    21
26   530330006004 -122.337128  47.712077    20
27   530330006005 -122.325587  47.717747    21
28   530330006006 -122.319048  47.716070    20
29   530330007001 -122.294600  47.717444    21
..            ...         ...        ...   ...
450  530330115003 -122.378312  47.533487    20
451  530330116001 -122.384244  47.537760    21
452  530330116002 -122.384908  47.531925    21
453  530330116003 -122.385922  47.525952    25
454  530330116004 -122.383823  47.519531    25
455  530330116005 -122.391666  47.523651    24
456  530330116006 -122.393829  47.533018    22
457  530330117001 -122.278914  47.525403    19
458  530330117002 -122.287565  47.519563    22
459  530330117003 -122.284763  47.525430    20
460  530330117004 -122.275601  47.514886    20
461  530330118001 -122.262440  47.525809    24
462  530330118002 -122.257106  47.516004    21
463  530330118003 -122.263892  47.516807    20
464  530330118004 -122.271888  47.522054    21
465  530330118005 -122.274381  47.528645    22
466  530330118006 -122.267827  47.525645    26
467  530330119001 -122.252184  47.511278    22
468  530330119002 -122.248668  47.504925    23
469  530330119003 -122.257847  47.505071    20
470  530330119004 -122.265206  47.498983    20
471  530330119005 -122.265938  47.508666    20
472  530330120001 -122.375435  47.514129    22
473  530330120002 -122.380539  47.510084    24
474  530330120003 -122.385999  47.514812    24
475  530330121001 -122.389927  47.510388    27
476  530330121002 -122.376877  47.503549    24
477  530330260011 -122.242032  47.506088    24
478  530330264004 -122.322273  47.509971    20
479  530330264005 -122.319285  47.516160    19

[480 rows x 4 columns]

In [127]:
index

481

In [126]:
BG_centroids.to_csv('BG_avg_driving.csv')